/checkpoints*/
/mlflow.db
/stat/
/.venv/
/outputs/
/logs/
paperscout/
.codex
Agent-R1-lagacy/
__pycache__/
*.pyc
/recipe/paper_search/selector-qwen3-8b
alfworld_data/
data/alfworld/
webshop_data_full/
webshop_data_small/
data/webshop_full/
data/webshop_debug/
debug/
mlruns/
mlartifacts/
h100/
h200/
slurm/
*.html
EXPERIMENT_SETTINGS.md